{% extends "TODO/main.html" %}
{% block content %}
{% include 'TODO/navbar.html' %}
<div django-app="TaskManager">
    <div class="container-page">
        <div class="content">
            <h1 id="title">TodoApp</h1>
            <p class="tagline">a Django todo app</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="inputContainer">
                    <hr>
                    <label for="description" id="desc">Description</label><br>
                    <input type="text" id="description" class="taskName" placeholder="What do you need to do?"
                        name="description" required>

                </div><br>
                <div class="container-1">
                    <div class="box-1">
                        <label for="category" id="cat">Category :</label>

                        <select id="category" class="taskCategory" name="category_select">
                            <option class="disabled" value="">Choose a category</option>

                            {% for category in categories %}
                            <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="box-2">
                        <label for="dueDate" id="date">Due Date :</label>
                        <input type="date" id="dueDate" class="taskDate" name="date">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>
                        Addtask
                    </button><br>
                    
                    <div class="deleteall" id="deleteall">
                        <a href="{% url 'deleteall' %}"><button id="button" type="button" class="btn btn-primary">
                                DELETE all</button>
                        </a>
                    </div>
                </div>

            </form>
            <ul class="taskList">
                {% for todo in todos %}
                <li class="taskItem">

                    <input type="hidden" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}"
                        value="{{ todo.id }}">
                    <div>
                        <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                        <strong class="taskDate"><i class="fa fa-calendar"></i>
                            {{ todo.created }} - 
                            {{ todo.due_date }}
                        </strong>
                    </div>
                    <div class="todo-div">
                        <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                        <form action="/todo/delete/{{ todo.id }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-light" id="delete"><i class="fa fa-trash"aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    

                </li>
                {% endfor %}
            </ul><!-- taskList -->

        </div><!-- content -->


    </div><!-- container -->
</div>
{% endblock content %}