{% extends "TODO/main.html" %}


{% block content %}
<div class="login-head">toDo List</div>
<form action="" method="post">
  {% csrf_token %}
<div class="border"><h6>Log in to your account</h6>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" class="username" required><i class="fas fa-user-tag input-icon"></i>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><i class="fas fa-lock input-icon"></i>

    <button type="submit">Login</button>
    {% include 'TODO/alert.html' %}
    <div class="psw">If you have not account <a href="{% url 'signup' %}">signUp?</a></div>
    
  </div>
</div>
</form>

   
{% endblock %}